@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Noticia+Text&family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa:wght@300;400&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
}


h1,h2,h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 34px;
  font-weight: 500
}



a {
  text-decoration: none;
}
















font-family: 'Cinzel', serif;
font-family: 'Noticia Text', serif;
font-family: 'Oswald', sans-serif;





